.ui-pnotify {
    top: 68px!important;
}
.custom-btn-grey {
  color: #fff;
  background-color: #A9A9A9;
}
.custom-btn-red {
  color: #fff;
  background-color: #ff0000;
}
.custom-btn-green {
  color: #fff;
  background-color: #4CAF50;
}
.custom-bar-white {
  color: #fff;
}
.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 1);
}
.login_content {
  margin-top: 30px;
}
.customPositionFixed {
	position: fixed !important;
}
.yellow {
  color: #ffff00; 
 }
 .custom-green {
  color: #008000; 
 }
 .vresize {
  resize: vertical;
 }
 .hresize {
  resize: horizontal;
 }